---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/sections/Nav.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Services from '../components/sections/Services.astro';
import Tour from '../components/sections/Tour.astro';
import Gallery from '../components/sections/Gallery.astro';
import Archive from '../components/sections/Archive.astro';
import StatsSection from '../components/sections/StatsSection.astro';
import Reviews from '../components/sections/Reviews.astro';
import Brands from '../components/sections/Brands.astro';
import GroomSquad from '../components/sections/GroomSquad.astro';
import Contact from '../components/sections/Contact.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <About />
    <Services />
    <StatsSection />
    <Tour />
    <Gallery />
    <Archive />
    <Reviews />
    <Brands />
    <GroomSquad />
    <Contact />
  </main>
</Layout>
